html {
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  margin: 0;
  background-color: #fff;
}

h1 {
  text-align: center;
  background-color: #ffe500;
  font-family: "Sigmar One";
  font-weight: 900;
  color: #b20953;
  max-width: 100%;
  font-size: 3rem;
  margin: 0;
  margin-bottom: -.4em;
}

*, * ::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #ffe500;
  text-align: center;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

li {
  background-color: #b2a212;
  padding: .2em .5em .3em;
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1.125rem;
  color: #fff;
  margin-top: .3em;
  margin-bottom: .3em;
}

p {
  padding: 0 .75em;
  font-family: Georgia, serif;
  color: #2f2d13;
  line-height: 1.5;
}

ul {
  padding-left: 0;
}

footer {
  background-color: #ffe500;
  padding: .75em;
  margin: 0;
  text-align: center;
  font-size: 1rem;
  height: 48px;
}

img {
  width: 100%;
  padding: 0 .75em;
  display: block;
}

h2 {
  font-family: "Sigmar One";
  font-size: 1.875rem;
  color: #b20953;
  padding: 0 .75em;
  margin-left: -.33em;
}

.current {
  background-color: #cc1465;
}

a:hover {
  background-color: #cc1465;
}
